@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair-Display|Lobster');

@mixin backgroundGradient($direction, $colourOne, $colourTwo) {
    background: $colourOne; /* fallback for old browsers */
  background: -webkit-linear-gradient($direction, $colourOne, $colourTwo); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient($direction, $colourOne, $colourTwo); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

$background: #0C0A13;
//FDFCFA
$colour1: #2D2D2D;
$colour2: #A56326;
$colour3: #59361D;
$colour4: #281C15;
$colour5: #333;
$accent: $colour5;

body {
    @include backgroundGradient(to bottom, #30e8bf, #ff8235);
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    *+* {
        margin: 2em;
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'adobe-garamond-pro', serif; // 0—360 % % 0–1
    color: $colour1;
}

h1 {
    font-size: 4.6em;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
}

p {
    font-family: 'adobe-garamond-pro', serif;
    color: $colour4;
    line-height: 2.2em;
    margin-left: 0px;
    margin-top: 2em;
    font-size: 2em;
}

.facade {
    min-height: 100vh;
    width: 100vw;
    position: relative;
}

.middle-circle {
    border-radius: 200px/150px;
    width: 400px;
    height: 300px;
    background-color:$accent;
    margin-left:auto;
    margin-right:auto;
    margin-top:-160px;
}

.header-container {}

// .bio {
//     display: block;
//     position: relative;
//     max-width: 800px;
//     padding-left: 100%;
//     margin-top: 0;
//     padding-top: 1em;
//     margin-left: 50%;
//     width: 80vw;
// }

.project-container {
    display: none;
    position: relative;
    width: 100%;
    height: 20em;
    padding: 5em;
    margin: 0;
    &:nth-child(odd) {
        background-color: $colour5;
        .tile {
            background-color: $background;
            border: 1em dashed $colour5;
        }
    }
    p {
        margin-left: 12em;
        font-family: 'Open Sans';
        color: #e6e4da; // font-size: 2em;
        width: auto;
    }
}